* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #000208;
  width: 100%;
  margin: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main {
  min-height: calc(100vh - 70px);
}
