* {
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #000208;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main {
  min-height: calc(100vh - 70px);
}
footer {
  display: flex;
  justify-content: center;
  background-color: #333333;
  padding: 0.5rem;
}
